
// primary-btn
.primary-btn{
	background-color: $primary-color;
	color: #fff;
	transition: 0.2s;
	// margin: 10px 0;
	&:hover,&:focus{
		border: $primary-color 1px solid;
		background-color: transparent;
		color: $primary-color;
		outline: none;
	}
}

// section-padding
.section-padding{
	padding: 60px 0;
}
