// heading font
@import url('https://fonts.googleapis.com/css?family=Merriweather');
a{
	color: $primary-color;
	&:hover{
		outline: none;
		text-decoration: none;
	}
}

// heading
.heading{
	font-weight: bold;
	font-family: 'Merriweather', serif;
	padding: 10px 0;
}

// primary-btn
.primary-btn{
	background-color: $primary-color;
	color: #fff;
	transition: 0.2s;
	// margin: 10px 0;
	&:hover,&:focus{
		border: $primary-color 1px solid;
		background-color: transparent;
		color: $primary-color;
		outline: none;
	}
}

// section-padding
.section-padding{
	padding: 20px 0;
}

// sidebar
.sidebar{
	padding-bottom: 50px;
}