/* line 3, ../sass/base/_base.scss */
.primary-btn {
  background-color: #339933;
  color: #fff;
  transition: 0.2s;
}
/* line 8, ../sass/base/_base.scss */
.primary-btn:hover, .primary-btn:focus {
  border: #339933 1px solid;
  background-color: transparent;
  color: #339933;
  outline: none;
}

/* line 17, ../sass/base/_base.scss */
.section-padding {
  padding: 60px 0;
}

/* line 2, ../sass/module/_news&notice.scss */
.nav-tabs li.active > a, .nav-tabs li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #339933;
}
/* line 6, ../sass/module/_news&notice.scss */
.nav-tabs li a {
  color: #003399;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
}
/* line 11, ../sass/module/_news&notice.scss */
.nav-tabs li a:hover {
  background-color: #339933;
  color: #fff;
}

/* line 18, ../sass/module/_news&notice.scss */
.tab-items {
  padding: 20px 0;
}

/* line 1, ../sass/module/_nav.scss */
.navbar {
  border-radius: 0px;
  transition: 0.2s;
}
/* line 4, ../sass/module/_nav.scss */
.navbar .navbar-brand {
  padding: 0px 15px;
  display: flex;
}
/* line 7, ../sass/module/_nav.scss */
.navbar .navbar-brand .social-icon {
  display: flex;
  flex-direction: column;
}
/* line 10, ../sass/module/_nav.scss */
.navbar .navbar-brand .social-icon i {
  margin: 3px 0px;
  color: #fff;
}
/* line 16, ../sass/module/_nav.scss */
.navbar .logo {
  width: 50px;
  margin: 0px 10px;
}
/* line 20, ../sass/module/_nav.scss */
.navbar .some-txt {
  float: left;
  height: 50px;
  padding: 15px 0px;
  font-size: 18px;
  line-height: 20px;
}
/* line 26, ../sass/module/_nav.scss */
.navbar .some-txt .web-title {
  color: #fff;
}
