.navbar-inverse{
  border-color: $primary-color;
  .navbar-nav>li>a{
    color: #fff;
    transition: 0.3s;
    &:hover{
      background-color: $secondary-color;
    }
  }
}

.nav--bg{
  background-color: #fff;
  padding-top: 2px;
}

.navbar {
  border-radius: 0px;
  transition: 0.2s;
  background: $primary-color;
  .navbar-brand{
    padding: 0px 0px;
    display: flex;
    .social-icon{
      display: flex;
      flex-direction: column;
      a{
        padding: 13px 10px;
        color: #fff;
        text-align: center;
        margin: -2px;
        &:nth-child(1){
          background-color: #3A58A1;
        }
        &:nth-child(2){
          background-color: #01B1FD;
        }
        &:nth-child(3){
          background-color: #E84B2A;
        }
        &:nth-child(4){
          background-color: #25D366;
        }
      }
    }
  }
  .logo{
    width: 70px;
    height: 60px;
    margin: 10px 10px;
  }
  .some-txt{
    float: left;
    line-height: 20px;
    color: $primary-color;
    padding-bottom: 8px;
    h1{
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  .nav-txtscroll{
    background: $secondary-color;
    color: #fff;
    padding-top: 5px;
  }
}
.navbar-nav{
  margin: 0 -15px;
}

.navbar-form{
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar-right{
  .lang-change{
    float: right;
  }
  .num-eml{
    margin-top: 25px;
    padding-right: 5px;
    color: #000;
    text-align: left;
    i{
      margin-right: 3px;
      color: $primary-color;
    }
  }
}
form~.fa{
  // color: #fff;
}
.resp--logo{
  display: none;
}

//dropdown
.leakdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 2px 5px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
  white-space: nowrap;
  list-style: none;
  transition: 0,2s;
  padding: 0px;
  li{
    padding: 5px 25px;
    color: $primary-color;
    &:hover{
      background-color: $secondary-color;
      color: #fff;
    }
  }
}
.leakdown{
  position: relative;
  &:hover .leakdown-content{
    display: block;
  }
}

//responsive
  //search bar form
  @media screen and (min-width: 1163px){
    .navbar-form .input-group {
      width: 300px;
      .form-control{
        height: 33px;
      }
    }
  }
  @media screen and (min-width: 768px){
    .navbar-form .input-group {
      margin-top: 25px;
    }
    .navbar-nav>li>a {
      padding: 10px 15px;
    }
  }
  @media screen and (max-width: 767px){
    //navbar
    .resp--hd{
      display: none;
    }
    .navbar-form{
      padding: 0px 25px;
      border-top: none;
      border-bottom: none;
      margin-bottom: -7px;
    }

    //logo in responsive
    .resp--logo{
      display: block;
      position: relative;
      float: left;
      padding: 5px;
    }

    .navbar-right{
       .num-eml{
        margin-top: 8px;
        padding-right: 17px;
        text-align: center;
      }
       .lang-change{
        margin-top: 15px;
      }
    }


    //leakdown
    .leakdown-content {
      position: relative;
      background-color: $primary-color;
      box-shadow: none;
      color: #fff;
      li{
        color: #fff;
      }
    }
  }

  //language flag
  @media (min-width: 468px){
    .lang-change{
      display: inline;
    }
  }
