.navbar {
  border-radius: 0px;
  transition: 0.2s;
  .navbar-brand{
    padding: 0px 15px;
    display: flex;
    .social-icon{
      display: flex;
      flex-direction: column;
      i{
        margin: 1px 0px;
        color: #fff;
      }
    }
  }
  .logo{
    width: 60px;
    height: 60px;
    margin: 0px 10px;
  }
  .some-txt{
    float: left;
    height: 60px;
    padding: 15px 0px;
    font-size: 18px;
    line-height: 20px;
    .web-title{
      color: #fff;
    }
  }
}
.navbar-right{
  .navbar-form{
    margin-top: 0px;
    .num-eml{
      color: #fff;
      i{
        margin-right: 3px;
      }
    }
  }
}
form~.fa{
  color: #fff;
}
