.services{
	background-color: #eaf4e5;
}
.services-items{
	margin: 20px 0;
	border-width: 1px 1px 0 1px;
	border-color: $primary-color;
	border-style: solid;
	h3{
		font-weight: bold;
	}
	.primary-btn{
		border-radius: 0;
	}
}
