.top-section{
	padding-top: 200px;
	.carousel-caption{
		left: 0;
		right: 0;
		h3{
			background-color: $primary-color;
			padding: 5px;
			display: inline-block;
			border-radius: 5px;
		}
	}
}

@media screen and (max-width: 760px) {
	.top-section{
		.carousel-caption{
			h3{
				font-size: 20px;
			}
		}
	}
}